.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

/* логотип ЯПрактикум */
.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  z-index: 2;
  top: 30px;
  left: 64px;
}

/* Научиться учиться */
.header__title {
  display: flex;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-items: center;
}

/* Какие современные подходы... */
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Узнать */
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/* Картина Опять двойка */
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 2;
}

/* синий квадрат */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

/* блок Главные проблемы в обучении */
.description {
  margin: 0;
  display: flex;
  justify-content: center;
}

/* коробка */
.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Главные проблемы */
.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

/* коробка с текстом */
.two-columns__main-text {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
}

/* текст */
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 12;
}

/* Вывод: */
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* блок Цифры и факты */
.digits {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  align-items: center;
}

/* Цифры и факты*/
.section-title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

/* Про учебу и мозг */
.section-subtitle {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* блок с ячейками */
.table {
  margin-bottom: 100px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ячейка */
.table__cell {
  width: 250px;
  margin-top: 60px;
  list-style-type: none;
}

/* название ячейки */
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24x;
  font-weight: 600;
}

/* текст ячейки */
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

/* блок Фейнман */
.feynman {
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 890px;
}

/* метод Фейнмана */
.feynman__title {
  margin-top: 100px;
  margin-bottom: 70px;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}

/* выучить и не забыть */
.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  z-index: 3;
}

/* Подробнее */
.feynman__link {
  color: #2f80ed;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

/* картинка Фейнман */
.feynman__main-illustration {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  }

/* черный блок кауфман */
.kaufman {
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* треугольник */
.kaufman__triangle {
  background-image: url(/Users/suvor/dev/first-project/second-project/how-to-learn/images/kaufman-triangle.svg);
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-size: 877px 877px;
}

/* Принципы обучения */
.section-title_theme_dark {
  width: 60%;
  margin: 90px auto 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  z-index: 3;
}

/* от Джоша Кауфмана */
.section-subtitle_theme_dark {
  margin: 0;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

/* блок с ячейками */
.table_theme_dark {
  margin: 0 auto 90px;
  z-index: 2;
}

/* ячейка */
.table__cell_theme_dark {
  width: 200px;
  list-style: none;
  margin-top: 80px;
  z-index: 1;
}

/* номер ячейки */
.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

/* текст ячейки */
.table__text_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* подвал */
.footer {
  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

/* коробка подвала высота */
.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

/* коробка подвала ширина */
.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

/* логотип подвала */
.logo_place_footer {
  width: 228px;
  height: 32px;
  margin-top: 0;
  margin-left: 0;
  z-index: 2;
}

/* автор */
.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  align-items: flex-end;
}

/* коробка О Практикуме */
.footer__column_content_info {
  display: flex;
  justify-content: flex-start;
}

/* заголовок О Практикуме/ Соцсети ФЛЕКС РЕВЬЮ*/
.footer__column-heading {
  align-items: flex-start; 
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

/* иконки Соцсети */
.footer__social-icon {
  width: 16px;
  height: 16px; 
  background-size: 16px 16px;
  margin-right: 10px;
}

/* список О практикуме/Соцсети */
.footer__column-link {
  margin-top: 20px;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  color: white;
  text-decoration: none;
  padding-left: 0;
}








